<aside class="recent-posts-card">
	<h2>最近の記事</h2>
	<ul class="fa-ul">
		{% for post in site.posts limit:site.recent_posts %}
			<li>
				<span class="fa-li"><i class="fas fa-fw fa-newspaper"></i></span>
				<a href="{{ post.url | relative_url }}">
					{{ post.title }}
				</a>
			</li>
		{% endfor %}
	</ul>
</aside>

<aside class="popular-tags-card">
	<h2>タグ(記事数降順)</h2>
	<ul class="fa-ul">
		{% assign popular_tags = site.tags | convert_into_popular_tags %}
		{% for tag in popular_tags %}
			<li>
				<span class="fa-li"><i class="fas fa-fw fa-tag"></i></span>
				<a href="{{ '/tags/' | append: tag[0] | downcase | relative_url }}">
					{{ tag[0] }} ({{ tag[1].size }})
				</a>
			</li>
		{% endfor %}
	</ul>
</aside>
