<footer>
	<div class="author">
		<div class="container">
			<p>&copy; {{ site.author.copyright }}</p>
{% include social.html %}
		</div>
	</div>
	
	<div class="page-top position-fixed">
		<i class="fas fa-arrow-up"></i>
	</div>
	
	<div class="nav-bottom fixed-bottom">
		<div class="container">
			<div class="row">
				<div class="nav-bottom-icon col-3 d-flex align-items-center justify-content-center">
					<a href="{{ site.baseurl | append: '/' }}">
						<i class="fas fa-fw fa-home"></i>
					</a>
				</div>
				<div class="nav-bottom-icon col-2 d-flex align-items-center justify-content-center">
					
				</div>
				<div class="nav-bottom-icon col-2 d-flex align-items-center justify-content-center">
					<a href="{{ '/contents/archive' | relative_url }}">
						<i class="fas fa-fw fa-book"></i>
					</a>
				</div>
				<div class="nav-bottom-icon col-2 d-flex align-items-center justify-content-center">
					<a href="{{ '/contents/about' | relative_url }}">
						<i class="fas fa-fw fa-user"></i>
					</a>
				</div>
				<div class="nav-bottom-icon col-3 d-flex align-items-center justify-content-center">
					<div class="page-top">
						<i class="fas fa-fw fa-arrow-up"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
