<footer>
	<div class="author">
		<div class="container">
			<p>&copy; {{ site.author.copyright }}</p>
{% include social.html %}
		</div>
	</div>
	
	<div class="page-top position-fixed">
		<i class="fas fa-arrow-up"></i>
	</div>
	
	<div class="nav-bottom fixed-bottom">
		<div class="container">
			<div class="d-flex justify-content-between">
				<div class="nav-bottom-icon d-table-cell text-center align-middle">
					<a href="/">
						<i class="fas fa-fw fa-home"></i>
						<div>ホーム</div>
					</a>
				</div>
				<div class="nav-bottom-icon d-table-cell text-center align-middle">
					<a href="{{ '/contents/category/技術日記' | relative_url }}">
						<i class="fas fa-fw fa-folder"></i>
						<div>技術日記</div>
					</a>
				</div>
				<div class="nav-bottom-icon d-table-cell text-center align-middle">
					<a href="{{ '/contents/category/技術紹介' | relative_url }}">
						<i class="fas fa-fw fa-folder"></i>
						<div>技術紹介</div>
					</a>
				</div>
				<div class="nav-bottom-icon d-table-cell text-center align-middle">
					<a href="{{ '/contents/archive' | relative_url }}">
						<i class="fas fa-fw fa-book"></i>
						<div>アーカイブ</div>
					</a>
				</div>
				<div class="nav-bottom-icon d-table-cell text-center align-middle">
					<a href="{{ '/contents/about' | relative_url }}">
						<i class="fas fa-fw fa-user"></i>
						<div>プロフ</div>
					</a>
				</div>
				<div class="nav-bottom-icon d-table-cell text-center align-middle">
					<div class="page-top">
						<i class="fas fa-fw fa-arrow-up"></i>
						<div>トップ</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
