<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	{% if page.title %}
	<title>{{ page.title }} | {{ site.title }}</title>
	<meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: site.excerpt_chars }}">
	{% else %}
	<title>{{ site.title }}</title>
	<meta name="description" content="{{ site.description }}">
	{% endif %}
	
	<link href="{{ site.favicon | relative_url }}" rel="shortcut icon">
	<link href="{{ site.rss | relative_url }}" rel="alternate" type="application/rss+xml">
	
	<script src="{{ '/assets/lib/jquery-3.6.0/jquery-3.6.0.min.js' | relative_url }}"></script>
	<script src="{{ '/assets/lib/bootstrap-4.5.3/js/bootstrap.bundle.min.js' | relative_url }}"></script>
	<script src="{{ '/assets/lib/fontawesome-free-5.15.4/js/all.min.js' | relative_url }}"></script>
	
	<script src="{{ '/assets/lib/lunr/lunr/lunr-2.3.9.js' | relative_url }}"></script>
	<script src="{{ '/assets/lib/lunr/lunr-languages/lunr.stemmer.support.js' | relative_url }}"></script>
	<script src="{{ '/assets/lib/lunr/lunr-languages/tinyseg.js' | relative_url }}"></script>
	<script src="{{ '/assets/lib/lunr/lunr-languages/lunr.ja.js' | relative_url }}"></script>
	<script src="{{ '/assets/lib/lunr/lunr-languages/lunr.multi.js' | relative_url }}"></script>
	
	<script src="{{ '/assets/js/header.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/search.js' | relative_url }}" defer></script>

	<link href="{{ '/assets/lib/bootstrap-4.5.3/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">
	<link href="{{ '/assets/css/theme.css' | relative_url }}" rel="stylesheet">
	<link href="{{ '/assets/css/syntax-github.css' | relative_url }}" rel="stylesheet">
	
{% include google-analytics.html %}
</head>
