<header class="fixed-top">
	<div class="nav-top">
		<div class="container">
			<nav class="navbar navbar-expand-lg">
				<a class="navbar-brand" href="/">
					{{ site.title }}
				</a>
				
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="{{ '/contents/posts' | downcase | relative_url }}"
								id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-fw fa-folder"></i>
								カテゴリ
							</a>
							<div class="dropdown-menu mt-0" aria-labelledby="navbarDropdown">
								{% assign categories = site.categories | sort %}
								{% for category in categories %}
									<a class="dropdown-item" href="{{ '/contents/posts/' | append: category[0] | downcase | relative_url }}">
										{{ category[0] }} ({{ category[1].size }})
									</a>
								{% endfor %}
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="{{ '/contents/tags' | downcase | relative_url }}"
								id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-fw fa-tag"></i>
								タグ
							</a>
							<div class="dropdown-menu mt-0" aria-labelledby="navbarDropdown">
								{% assign tags = site.tags | sort %}
								{% for tag in tags %}
									<a class="dropdown-item" href="{{ '/contents/tags/' | append: tag[0] | downcase | relative_url }}">
										{{ tag[0] }} ({{ tag[1].size }})
									</a>
								{% endfor %}
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ '/contents/archive' | relative_url }}">
								<i class="fas fa-fw fa-book"></i>
								アーカイブ
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ '/contents/about' | relative_url }}">
								<i class="fas fa-fw fa-user"></i>
								プロフィール
							</a>
						</li>
					</ul>
				</div>
				
				<ul class="navbar-nav">
					<li class="nav-item">
						<form method="get" id="search-form" action="{{ '/contents/search' | relative_url }}">
							<input type="search" id="search-query" name="search-query" class="form-control" placeholder="記事検索">
						</form>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
