<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	{% if page.title %}
	<title>{{ page.title }} | {{ site.title }}</title>
	<meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: site.excerpt_chars }}">
	{% else %}
	<title>{{ site.title }}</title>
	<meta name="description" content="{{ site.description }}">
	{% endif %}
	
	<link href="{{ site.favicon | relative_url }}" rel="shortcut icon">
	<link href="{{ site.rss | relative_url }}" rel="alternate" type="application/rss+xml">
	
	<script src="{{ '/assets/lib/jquery-3.6.0/jquery-3.6.0.min.js' | relative_url }}"></script>
	<script src="{{ '/assets/lib/bootstrap-4.5.3/js/bootstrap.bundle.min.js' | relative_url }}"></script>
	<script src="{{ '/assets/lib/fontawesome-free-5.15.4/js/all.min.js' | relative_url }}"></script>
	
	<script src="{{ '/assets/lib/lunr/lunr/lunr-2.3.9.js' | relative_url }}"></script>
	<script src="{{ '/assets/lib/lunr/lunr-languages/lunr.stemmer.support.js' | relative_url }}"></script>
	<script src="{{ '/assets/lib/lunr/lunr-languages/tinyseg.js' | relative_url }}"></script>
	<script src="{{ '/assets/lib/lunr/lunr-languages/lunr.ja.js' | relative_url }}"></script>
	<script src="{{ '/assets/lib/lunr/lunr-languages/lunr.multi.js' | relative_url }}"></script>
	
	<script src="{{ '/assets/js/header.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/search.js' | relative_url }}" defer></script>

	<link href="{{ '/assets/lib/bootstrap-4.5.3/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">
	<link href="{{ '/assets/css/theme.css' | relative_url }}" rel="stylesheet">
	<link href="{{ '/assets/css/syntax.css' | relative_url }}" rel="stylesheet">
</head>

<body>

{% include google-analytics.html %}

<header class="fixed-top">
	<nav class="navbar navbar-expand-lg navbar-dark">
		<div class="container">
			<a class="navbar-brand" href="{{ site.baseurl | append: '/' }}">
				{{ site.title }}
			</a>
			
			<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
					aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<ul class="navbar-nav">
					<li class="nav-item">
					    <a class="nav-link" href="{{ '/contents/tags' | relative_url }}">タグ一覧</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="{{ '/contents/archive' | relative_url }}">アーカイブ</a>
					</li>
					<!-- <li class="nav-item"> -->
					    <!-- <a class="nav-link" href="{{ '/contents/stats' | relative_url }}">統計</a> -->
					<!-- </li> -->
					<li class="nav-item">
					    <a class="nav-link" href="{{ '/contents/about' | relative_url }}">プロフィール</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
