<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ site.description }}">
	
	<title>{{ site.name }}{% if page.title %} | {{ page.title }} {% endif %}</title>
	
	<link rel="shortcut icon" href="{{ '/assets/css/pics/favicon/corgi01.ico' | relative_url }}">
	
	<script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/popper.min.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/bootstrap4.min.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/header.js' | relative_url }}"></script>
	<script src="{{ '/assets/css/svg-with-js/js/fontawesome-all.js' | relative_url }}"></script>
	
	<link href="{{ '/assets/css/bootstrap4.min.css' | relative_url }}" rel="stylesheet">
	<link href="{{ '/assets/css/theme.css' | relative_url }}" rel="stylesheet">
	<link href="{{ '/assets/css/syntax.css' | relative_url }}" rel="stylesheet">
	
	<link href="{{ site.social.rss | relative_url }}" type="application/rss+xml" rel="alternate">
</head>

<body>

{% include google-analytics.html %}
{% include yandex-metrica.html %}

<header class="fixed-top">
	<nav class="navbar navbar-expand-lg navbar-dark">
		<div class="container">
			<a class="navbar-brand" href="{{ site.baseurl | append: '/' }}">
				{{ site.name }}
			</a>
			
			<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
					aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<ul class="navbar-nav">
					<li class="nav-item">
					    <a class="nav-link" href="{{ '/contents/tags' | relative_url }}">タグ一覧</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="{{ '/contents/archive' | relative_url }}">アーカイブ</a>
					</li>
					<!-- <li class="nav-item"> -->
					    <!-- <a class="nav-link" href="{{ '/contents/stats' | relative_url }}">統計</a> -->
					<!-- </li> -->
					<li class="nav-item">
					    <a class="nav-link" href="{{ '/contents/about' | relative_url }}">プロフィール</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
