<aside class="page-navi-card">
	<nav class="navbar navbar-expand">
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav">
				{% assign page_navi_array = 
					page.url | generate_page_navi: page.categories, site.data.words %}
				{% for page_navi in page_navi_array %}
					<li class="nav-item">
						{% if forloop.last %}
							<span class="nav-link">
								<i class="fas fa-fw fa-chevron-right"></i>
								{{ page_navi[0] }}
							</span>
						{% else %}
							<a class="nav-link" href="{{ page_navi[1] }}">
								<i class="fas fa-fw fa-chevron-right"></i>
								{{ page_navi[0] }}
							</a>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>
	</nav>
</aside>
