{% if site.share.twitter or site.share.facebook %}
	<div class="share-bar">
		<ul class="share-buttons">
			
			{% if site.share.twitter %}
			<li class="share-twitter">
				<a href="https://twitter.com/intent/tweet?url={{ site.url | append: page.url }}&text={{page.title}}" target="_blank" rel="noopener" title="Tweet">
					<span class="fa-layers fa-fw fa-2x">
						<i class="far fa-circle"></i>
						<i class="fab fa-twitter" data-fa-transform="shrink-8"></i>
					</span>
				</a>
			</li>
			{% endif %}
			
			{% if site.share.facebook %}
			<li class="share-facebook">
				<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url | append: page.url}}" target="_blank" rel="noopener" title="Share on Facebook">
					<span class="fa-layers fa-fw fa-2x">
						<i class="far fa-square"></i>
						<i class="fab fa-facebook-f" data-fa-transform="shrink-8"></i>
					</span>
				</a>
			</li>
			{% endif %}
			
		</ul>
	</div>
{% endif %}
