---
---

//******************************************************************************
// HTML構成
//******************************************************************************
//
// body
//     header
//         nav
//             div.container
//     main
//         div.container
//             div.row
//                 div.col-md-12
//                     div.top-card
//             div.row
//                 div.col-md-9
//                     article.post-card
//                     article.post-navi-card
//                     article.related-post-card
//                 div.col-md-3
//                     aside.search-bar-card
//                     aside.recent-posts-card
//                     aside.popular-tags-card
//                     aside.page-top-card
//     footer
//         div.container
//

//******************************************************************************
// 変数
//******************************************************************************

$font-family:              "Meiryo", "Yu Gothic", "Hiragino Kaku Gothic Pro", sans-serif;
$font-size:                16px;

$font-color:               #dddddd; // Gray Style
$font-accent-color:        #FFFFFF; // White Style
$font-link-color:          #75A9FF; // Blue Style
$font-note-color:          #87CEFA; // Blue Style
$font-warning-color:       #ffff00; // Yellow Style

$background-body-color:    #555555; // Black Style
$background-navi-color:    #343A40; // Black Style
$background-card-color:    #393939; // Black Style
$background-post-color:    #404040; // Black Style
$background-footer-color:  #666666; // Black Style

$top-image:                '../img/top01.png';

$media-max-width:          992px; // Bootstrapグリッドオプション：Large (lg)

//******************************************************************************
// 共通
//******************************************************************************

html {
	font-size: $font-size;
}

body {
	font-family: $font-family;
	color: $font-color;
	background: $background-body-color;
}

h1 { font-size: 2.00rem; }
h2 { font-size: 1.50rem; }
h3 { font-size: 1.25rem; }
h4 { font-size: 1.12rem; }
h5 { font-size: 1.00rem; }
h6 { font-size: 1.00rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px 0px 16px 0px;
	border-bottom: 1px solid gray;
}

img {
	display: block;
	margin: 0px auto;
	max-width: 100%;
	max-height: 100%;
	color: $font-color !important;
}

a {
	color: $font-link-color;
}

table {
	margin: 0px auto 16px auto;
	
	th {
		background: $background-navi-color;
		text-align: center;
		padding: 8px 12px;
		border: 1px solid #5e5e5e;
	}
	
	td {
		padding: 8px;
		border: 1px solid #5e5e5e;
	}
}

table.wide {
	width: 100%;
	max-width: 100%;
}

div.scroll-table {
	height: 500px;
	width: 100%;
	overflow: scroll;
	
	table.sticky-table {
		th {
			position: sticky;
			top: 0;
		}
		
		th,
		td {
			white-space: nowrap;
		}
	}
}

//******************************************************************************
// ヘッダ：サイト名やナビバーのスタイル
//******************************************************************************

header {
	nav {
		background-color: $background-navi-color;
		padding: 0px !important;
		
		a {
			color: $font-accent-color !important;
		}
		
		.navbar-brand {
			font-size: 2.50rem;
			margin: 0px 16px;
			transition: all 700ms 0ms ease;
		}
		
		.navbar-nav {
			font-size: 1.25rem;
			margin: 0px 0px 0px auto;
			text-align: right;
			transition: all 700ms 0ms ease;
			
			.nav-item {
				.nav-link {
					padding: 0px 32px 0px 32px !important;
				}
				
				.nav-link:hover {
					text-decoration: underline;
				}
			}
		}
		
		.navbar-toggler {
			margin: 4px 16px;
		}
	}

	nav.shrink {
		min-height: 32px !important;
		
		.navbar-brand {
			font-size: 1.75rem;
		}
		
		.navbar-nav {
			font-size: 1.00rem;
		}
	}
}

//******************************************************************************
// フッタ：著作権情報やSNSアイコンのスタイル
//******************************************************************************

footer {
	color: $font-accent-color;
	background-color: $background-footer-color;
	padding: 16px;
	text-align: center;
	width: 100%;
	
	ul.social-media {
		padding: 0px;
		margin: 0px;
		
		li {
			display: inline-block;
		}
		
		li > a {
			width: 48px;
			height: 48px;
			display: inline-block;
			color: $font-accent-color;
			
			&:hover {
				color: $font-link-color;
			}
		}
	}
}

//******************************************************************************
// メイン：ヘッダやフッタ以外の中心に配置する要素のスタイル
//******************************************************************************

main {
	margin: 86px 0px 0px 0px;
	// 内70pxはサイト名(navbar-brand)のフォントサイズに依存する。
}

//******************************************************************************
// トップカード
//******************************************************************************

main div.top-card {
	background-color: $background-card-color;
	box-shadow: 0px 0px 0px 0px, 0px 8px 16px rgba(0, 0, 0, 0.2);
	border: 0px;
	border-radius: 8px;
	padding: 16px;
	margin: 0px 0px 16px 0px;
	
	.top-image {
		background-image: url($top-image);
		background-position: center;
		background-size: contain;
		height: 200px;
		span {
			
		}
	}
}

//******************************************************************************
// 記事．記事カード
//******************************************************************************

main article.post-card {
	background-color: $background-card-color;
	box-shadow: 0px 0px 0px 0px, 0px 8px 16px rgba(0, 0, 0, 0.2);
	border: 0px;
	border-radius: 8px;
	padding: 16px;
	margin: 0px 0px 16px 0px;
	
	.posts {
		.post {
			background-color: $background-post-color;
			padding: 16px;
			
			margin: 0px 0px 16px 0px;
			display: flex;
			
			.post-left {
				width: 40%;
				margin: 0px 16px 0px 0px;
				
				.post-image,
				.post-noimage {
					img {
						background-color: $background-post-color;
						object-fit: contain;
						height: 100%;
						border-radius: 0px;
						box-shadow: none;
					}
				}
			}
			
			.post-right {
				width: 60%;
				
				.post-title {
					
				}
				
				.post-desc {
					
				}
				
				.post-reading {
					.page-link {
						text-align: center;
						color: $font-color;
						background-color: $background-body-color;
					}
				}
			}
		}
		
		@media all and (max-width: $media-max-width) {
		
		.post {
			display: inline-block;
			
			.post-left {
				width: 100%;
				margin: 0px 0px 16px 0px;
				
				.post-image,
				.post-noimage {
					margin: 0 auto;
					
					img {
						display: block;
						height: 200px;
					}
				}
			}
			
			.post-right {
				width: 100%;
			}
		}
		
		}
	}
	
	.post-meta {
		margin: 0px 0px 16px 0px;
		border-bottom: 1px dotted gray;
		
		.post-time,
		.post-log,
		.post-tag {
			margin: 0px;
			padding: 0px;
			
			li {
				display: inline-block;
				padding: 0px 16px 0px 0px;
			}
		}
	}
	
	.post-header-image {
		img {
			max-height: 600px;
		}
	}
	
	.post-content {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin: 32px 0px 16px 0px;
		}
		
		.post-content-image {
			img {
				max-height: 600px;
			}
		}
	}
	
	.posts-by-date:not(:target),
	.posts-by-tag:not(:target) {
		display: none;
	}
	
	input.accordion-checkbox {
		display: none;
		
		&:checked + label.accordion-label + .accordion-content {
			display: block;
		}
	}
	
	label.accordion-label {
		cursor: pointer;
		color: $font-link-color;
		margin: 0px 0px 0px 0px;
		
		&:hover {
			text-decoration: underline;
		}
	}
	
	*.accordion-content {
		display: none;
	}
	
	.user-image {
		img {
			max-height: 200px;
			max-width: 200px;
		}
	}
}

//******************************************************************************
// 記事．記事ナビカード
//******************************************************************************

main article.post-navi-card {
	background-color: $background-card-color;
	box-shadow: 0px 0px 0px 0px, 0px 8px 16px rgba(0, 0, 0, 0.2);
	border: 0px;
	border-radius: 8px;
	padding: 16px;
	margin: 0px 0px 16px 0px;
	
	.pagination .page-link {
		color: $font-color;
		background-color: $background-body-color;
	}
}

//******************************************************************************
// 記事．関連記事カード
//******************************************************************************

main article.related-post-card {

}

//******************************************************************************
// アサイド．検索バー
// アサイド．最近の記事
// アサイド．人気のタグ
// アサイド．ページトップ
//******************************************************************************

main aside.search-bar-card,
main aside.recent-posts-card,
main aside.popular-tags-card,
main aside.page-top-card {
	background-color: $background-card-color;
	box-shadow: 0px 0px 0px 0px, 0px 8px 16px rgba(0, 0, 0, 0.2);
	border: 0px;
	border-radius: 8px;
	padding: 16px;
	margin: 0px 0px 16px 0px;
}

//******************************************************************************
// アサイド．ページトップ
//******************************************************************************

main aside.page-top-card {
	padding: 24px;
	margin: 0px 0px 0px 0px;
	
	position: fixed;
	bottom: 16px;
	right: 32px;
	font-size: 1.50rem;
	
	a {
		color: $font-accent-color;
		text-align: center;
		text-decoration: none;
	}
}

//******************************************************************************
// Font Awesome
//******************************************************************************

.fa-ul {
	margin: 0px 0px 16px 24px;
}

//******************************************************************************
// SNS共有
//******************************************************************************

.share-bar{
	text-align: right;
}

ul.share-buttons {
	list-style: none;
	padding: 0px;
	li {
		display: inline-block;
		.fa-facebook-f,
		.fa-twitter,
		.fa-google-plus-g,
		.fa-linkedin-in,
		.fa-envelope,
		.fa-pinterest-p {
			color: $font-accent-color;
		}
		a {
			text-decoration: none;
		}
	}
	
	// Square frame
	li.share-facebook .fa-square { color: #3B5998;}
	li.share-twitter .fa-square { color: #55acee;}
	li.share-google-plus .fa-square { color: #dd4b39;}
	li.share-linkedin .fa-square { color: #4875B4;}
	li.share-pinterest .fa-square { color: #BD081C;}
	li.share-envelope .fa-square { color: #3B5998;}
	
	// Circle frame
	li.share-facebook .fa-circle { color: #3B5998;}
	li.share-twitter .fa-circle { color: #55acee;}
	li.share-google-plus .fa-circle { color: #dd4b39;}
	li.share-linkedin .fa-circle { color: #4875B4;}
	li.share-pinterest .fa-circle { color: #BD081C;}
	li.share-envelope .fa-circle { color: #3B5998;}
	
	li:hover {
		transform: scale(1.3,1.3);
	}
}

//******************************************************************************
// ノート、警告、引用文
//******************************************************************************

.note {
	font-style: normal;
	position:relative;
	border: 0px;
	padding: 0px 0px 0px 32px;
}

.note:before {
	font-style: normal;
	content: "\f06a";
	font-size: 2.00rem;
//	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	left: 0px;
	position:absolute;
	top: 0px;
	color: $font-note-color;
}

.warning:before {
	content: "\f071";
	color: $font-warning-color;
}

blockquote {
	color: #bbb;
	border-left: 1px solid #666;
	padding: 0px 0px 0px 16px;
	font-style: italic;
}

blockquote.note p,
blockquote.warning p {
	height: 48px;
	vertical-align: middle;
	padding: 8px;
	font-style: normal;
}

//******************************************************************************
// キー：ショートカットキーなどのスタイル
//******************************************************************************

.key {
	box-shadow: 1px 0px 1px 0px #555, 0px 1px 0px 1px #888, 0px 1px 0px 1px #777;
	border-radius: 4px;
	margin: 1px;
	padding: 0px 4px;
}

//******************************************************************************
// ファイル名
//******************************************************************************

.filename {
	background-color: #555555;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin: 0px;
	padding: 0px 0px 0px 1.00rem;
}
