{% include header.html %}
		<main>
			<div class="container">
				
				<div class="row">
					<div class="col-md-12">
						<div class="top-card">
							<div class="site-header-img">
								<span>{{ site.description }}</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-9">
						<article class="post-card">
							{{ content }}
						</article>
					</div>
					<div class="col-md-3 hidden-xs">
{% include sidebar.html %}
					</div>
				</div>
				
			</div>
		</main>
{% include footer.html %}
	</body>
</html>
