{% include header.html %}
    <div class="wrapper">
      <div class="content">
        <div class="container container-center">
          
          {% if page.image %}
          <div class="row">
            <div class="col-md-12">
              <div class="card post-header-img" style="background-image: url({{ page.image | relative_url }})"></div>
            </div>
          </div>
          {% endif %}
          
          <div class="row">
            <div class="col-md-9">
              <div class="card">
                <h1>
                    <i class="fas fa-sticky-note"></i>{{ page.title }}
                </h1>
                <div class="post-meta">
                    <div class="post-time">
                        <ul>
                            <li>
                                <i class="fa fa-calendar-alt"></i>
                                <span>投稿日：<time datetime='{{ page.date | date: "%Y-%m-%d" }}'>{{ page.date | date: '%Y/%m/%d %H:%M:%S' }}</time></span>
                            </li>
                            
                            {% if page.update %}
                            <li>
                                <i class="fa fa-calendar-alt"></i>
                                <span>更新日：<time datetime='{{ page.update | date: "%Y-%m-%d" }}'>{{ page.update | date: '%Y/%m/%d %H:%M:%S' }}</time></span>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="post-tag">
                        <ul>
                            {% for tag in page.tags %}
                            <li><i class="fas fa-tag"></i><a href="{{'/tag/' | append: tag | relative_url }}">{{ tag }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="post-content">
                  {% if page.toc %}
                    {% include toc.html html=content class='toc' %}
                  {% endif %}
                  {{ content }}
                  {% include share.html %}
                </div>
                {% if page.comments %}
                <div id="disqus_thread">
                  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                </div>
                {% endif %}
              </div>
            </div>
            <div class="col-md-3 hidden-xs">
              {% include sidebar.html %}
            </div>
          </div>
          
        </div>
        {% include disqus-comments.html %}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
